<!DOCTYPE html>
<html>
<head>
 <%-include('../partials/adminHead',{pageTitle:'Admin Dashboard'})%>
</head>
<body>
	<%-include('../partials/adminNav')%>
	<div class="filter-dropdown admin-order-filter input-group mt-4 mb-4">
		<select class="custom-select" id="inputGroupSelect02">
				<% let options=["pending","confirmed","assigned","completed","revoked","all"] %>
				<% options.forEach(function(option,i){ %>
						<% let selected = (filter == option ) ? "selected" : ""; %>
						<option value="<%=option%>" <%=selected%> ><%=option%> </option>
				<% }) %>
		</select>
	</div>
	<p class="text-center">Showing <strong><%=orders.length%></strong> Orders.</p>
	
	<ul class='order-list'>
		<%orders.forEach(function(order){%>
			<a href="/admin/order/<%=order._id%>">
			<li>	
					<h3>#<%=order.orderNumb%></h3>
					<h4><%=order.date%></h4>
			</li>
		</a>
		<%})%>
	</ul>
	
	<%-include('../partials/adminFooter')%>
</body>
</html>

