<!DOCTYPE html>
<html>
<head>
		<%-include('../partials/adminHead',{pageTitle:'Order Summary'})%>
</head>
<body>

	<%-include('../partials/adminNav')%>
	<div class="order-container">
		<div class="ordernumb">
			<div>
					<a href="/admin/order/revoke/<%=order._id%>">
						<button class='float-right btn mb-2 btn-danger'>
							REVOKE
						</button>
					</a>
				<h4>Order Number: <strong>#<%=order.orderNumb%></strong></h4>
				<h4>Date: <strong><%=order.date%></strong> </h4>
				<h4>Age: <strong><%=Math.floor((new Date() - order.date)/60000/1440)%> Day(s)</strong> </h4>
				<h4>Address: <strong><%=order.address%></strong> </h4>
				<h4>User Contact: <strong><%=order.userContact%></strong> </h4>
				<%if(order.status > 1 && order.status <= 3){%>
					<h4>Deliverer: <strong class="text-capitalize"><%=order.deliverer.name%></strong> (tel: <%=order.deliverer.contact%>) </h4>
				<%}%>
			</div>
			<div>
				<%if(order.status === 0){%>
					<a href="/admin/order/confirm/<%=order._id%>">
						<button class='btn btn-block button mb-2'>
							CONFIRM
						</button>
					</a>
				<%}else if(order.status === 1){%>
					<button type="button" class="btn btn-block button mb-2" data-toggle="modal" data-target="#assignOrder">
						ASSIGN
					</button>
					<%-include('../partials/assignOrder',{deliverers:deliverers,order:order})%>
				<%}%>	
			</div>
		</div>
		<div class='pending-details mt-4'>
			<%order.items.forEach(function(book){%>
				<h5 class="text-capitalize"><%=book.title%></h5>
				<h6 class="text-capitalize"><%=book.author%></h6>
				<p>Ksh.<%=book.price%></p>
				<hr>
			<%})%>
			<div class="cart-summary text-center mb-3">
				<%if(order.coupon){%>
					<h6 class="text-left">Discount ( <%=order.coupon.name%>)</h6>
					<h6 style="color:tomato" class="text-right"><strong><%=(order.coupon.value*100)%>%</strong></h6>	
				<%}%>
				<h6 class="text-left">Total ( <%=order.items.length%> items )</h6>
				<h6 class="text-right">Ksh. <%=order.totalAmount%></h6>
			</div>
		</div>
	</div>

	<%-include('../partials/adminFooter',{user:user})%>
</body>
</html>

