
<div class="modal fade" id="ordersum<%=order.orderNumb%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" style="color:#fff;background:#3066BE">
					<h5 class="modal-title" id="exampleModalCenterTitle">Order Summary</h5>
					<button style="color:#fff" type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">
				<div class='pending-details mt-2'>
						<%order.items.forEach(function(book){%>
								<h4><%=book.title%></h4>
								<h6><%=book.author%></h6>
								<p class="text-capitalize">
										<%book.cat.forEach(function(cat){%>
												<%=cat%> |
										<%})%>
								</p>
								<h3>Ksh.<%=book.price%></h3>
								<hr>
								<%})%>
				</div>
				<div class="order-summary">
					<h3>Total: Ksh.<strong><%=order.totalAmount%></strong></h3>
					<p>Est. Delivery Date:<br><strong><%=dateString(order.date.setDate(order.date.getDate() + 6))%></strong></p>
					<p>Deliver To:<br><strong><%=user.name%> - <%=order.address%></strong></p>
					<%if(order.status===0){%>
						<a href="profile/cancel/<%=order._id%>"> <p>[cancel order]<br> <small class="form-text text-muted">This action is not reversable</small></p></a>
					<%}else if(order.status > 1){%>
						<p>Delivery contact: <a style="color:blue;" href="tel:<%=order.deliverer.contact%>"><em><%=order.deliverer.contact%></em></a> </p>
					<%}%>
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-block btn-secondary button" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>