<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:book.title+' by '+book.author}); %>
</head>
<body>

<!-- PARTIAL -->

<%if(user){%>
    <%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
  <%}else{%>
	<%- include('partials/nav',{cartCount:0,suggestions:searchSuggestions}); %>
	<%user = {cart:['']}%>
  <%}%>
<!-- PARTIAL -->
 <div class="book-detail-head text-center mt-2 mb-2">
	 <img class="mt-3 mb-3" src="https://picsum.photos/300/500/?random"/>
	 <h4 class="text-capitalize"><%=book.title%></h4>
	 <p class="text-capitalize"><%=book.author%></p>
	 <hr class="m-3">

	 <div class="book-price">
		 <h3>Ksh.<%=book.price%></h3>
		 <%if(user.cart.includes(book._id.toString())){%>
			<a href="/cart"><button  class="btn view-in-cart">View in Cart</button></a>
		 <%}else{%>
			<form id="add-cart-form" method="POST" action="/cart/<%=book._id%>">
				<button id="add-to-cart" class="btn btn-primary">Add to Cart</button>
			</form>
		 <%}%>   
		 
	 </div>
	 <div class="synopsis mt-4">
		 <%book.cat.forEach(function(cat){%>
			<span class="text-capitalize"><%=cat%> |</span>
		 <%})%>
		 <br>
		 <span>Page Count: <%=book.pages%></span>
		 <br>
		 <div class="rating" data-rate-value="<%=book.condition%>"></div>
		<i  data-toggle="modal" data-target="#exampleModalCenter" class="fas fa-info-circle"></i>
		 <%-include('partials/modal')%>
		 <h6 class="mt-3">Synopsis</h6>
		 <p><%=book.synopsis%></p>
	 </div>
 </div>
	<!-- FOOTER-->	
	<%- include('partials/footer',{titles:relatedTitles,user:user});%>
</body>
</html>