<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'My cart'}); %>
</head>
<body>
	
	<!-- PARTIAL -->
	<%if(user){%>
		<%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
	  <%}else{%>
		<%- include('partials/nav',{cartCount:0,suggestions:searchSuggestions}); %>
	  <%}%>
	<!-- PARTIAL -->
	<!-- Calculate delivery date (6 days ahead)-->
	<%let DAYS=['Sun','Mon','Tue','Wed','Thur','Fri','Sat','Sun']%>
	<%let MONTHS=['Jan','Feb','Mar','Apr','May','Jun','July','Aug','Sept','Oct','Nov','Dec']%>
	<%let now = new Date()%>
	<%now.setDate(now.getDate() + 6);%>
	<%let day = DAYS[now.getDay()]%>
	<%let date = now.getDate()%>
	<%let month = MONTHS[now.getMonth()]%>
	<%let year = now.getFullYear()%>
	<!------------->

	<!--calculate item sum-->
	<%Array.prototype.sum = function (prop) {%>
		<%let total = 0%>
		<%for ( let i = 0, _len = this.length; i < _len; i++ ) {%>
			<%total += this[i][prop]%>
			<%}%>
			<%return total%>
			<%}%>
	<!------>
	<%let discount = 0 %>
	<%if(coupon){%>
		<% discount = coupon.value %>
	<%}%>
	<div class="cart-container text-center">
		<div class="cart-head text-center">
		<h4>My Shopping Cart</h4>
		</div>
		<%if(books.length > 0){%>
			<%if(books.length > 3){%>
			<div class="cart-summary text-center mb-3">
				<h6 class="text-left">Total ( <%=books.length%> items )</h6>
				<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
				<a href="#place-order"><button class="btn btn-block mt-2">Place Order</button></a> 
			</div>
			<%}%>
			<%books.forEach(function(book){%>
				<div id="item-removed-alert" class="alert alert-danger text-center" role="alert">
					item removed from cart
				</div>
				<div>
					<div class="book-card" style="margin:0 !important">
					<a href="/cart/<%=book._id%>"><i class="fas fa-times"></i></a>
						<a href="/book/<%=book._id%>">
							<%if(book.gallery){%>
								<img src="/public/bookcovers/<%=book.gallery[0]%>" alt="">
							  <%}%>
							<div class="book-card-div">
								<h4><%=book.title%></h4>
								<h6><%=book.author%></h6>
								<p class="text-capitalize">
									<%book.cat.forEach(function(cat){%>
										<%=cat%> |
									<%})%>
								</p>
								<h3>Ksh.<%=book.price%></h3>
							</div>
						</a>
					</div>
				</div>
			<%})%>
			<%if(user.address.length===0){%>
				<div class="order-summary cart-summary text-center">
					<p style='color:rgba(0,0,0,0.5)'> Delivered by: <%=day%> <%=date%> <%=month%> <%=year%></p>
					<a href="/profile?target=address"><button class="button btn-block btn mt-2 ">Set delivery address</button></a>
				</div>
				<div class="cart-summary text-center mb-3">
						<h6 class="text-left">Total ( <%=books.length%> items )</h6>
						<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
						<button class="btn btn-block mt-2 d-none">Place Order</button>
				</div>
			<%}else{%>
				<div class="order-summary">
					<p style='color:rgba(0,0,0,0.5);text-transform: capitalize'><em>Deliver to:</em><br><strong><%=user.name%>-
						<%user.address.forEach(function(part,i){%>
							<%let flag = (i == 1 && part.length > 0) ? "No." : ""%>
							<%=flag%><%=part%>
						<%})%>.<br>
						<a href="/profile?target=address"><span style="text-decoration: underline; color:#3066BE">Change address</span></a> 
					</strong>
					</p>
					<p style='color:rgba(0,0,0,0.5)'> <em> Delivered before:</em><br><strong><%=day%> <%=date%> <%=month%> <%=year%></strong></p>
				</div>
				<div class="cart-summary text-center mb-3">
					<h6 class="text-left"><%=books.length%> items</h6>
					<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
					<h6 class="text-left">Delivery</h6>
					<h6 class="text-right">
						<%let delivery;%>
						<%if(user.address[2]==='cbd'){ delivery = 0 %>
							Ksh.0
						<%}else{ delivery = 100 %>
							Ksh.100
						<%}%>
					</h6>
					<%let items = books.sum('price') ,service= items*0.1  %>
					<h6 class="text-left">Service Fee (10%)</h6>
					<h6 class="text-right">Ksh. <%=Math.floor(books.sum("price")*0.1)%></h6>
					
					<%let totalAmount = Math.floor((items+service+delivery)) %>
					<%if(discount !== 0 ){%>
						<h6 class="text-left">Discount (<%=(discount*100)%>%)</h6>
						<h6 style="color:tomato" class="text-right"><strong>Ksh. - <%=(totalAmount*discount)%></strong></h6>	
						<hr class="ml-3 mr-3">
						<h6 class="text-left">Total</h6>
						<h6 style="color:black;font-size: 1.2em" class="text-right"><strong>Ksh. <%=totalAmount-(totalAmount*discount)%></strong></h6>
						<%}else{%>
						<hr class="ml-3 mr-3">
						<h6 class="text-left">Total</h6>
						<h6 style="color:black;font-size: 1.2em" class="text-right"><strong>Ksh. <%=totalAmount%></strong></h6>
				
						<%}%>
					<%if(discount == 0){%>
					<form method="POST" action="/cart/verifycoupon" class="coupon-form text-center">
						<div class="form-group">
							<input type="text" name="coupon" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Coupon" required>
						</div>
						<button type="submit" class="btn btn-primary">Verify Coupon</button>
					</form>
					<a href="/profile/checkout"><button id="place-order" class="btn btn-block mt-2 btn-primary" >Place Order</button></a>  
					<%}else{%>
						<a href="/profile/checkout?coupon=<%=coupon.name%>"><button id="place-order" class="btn btn-block mt-2" >Place Order</button></a> 
					<%}%>
					
					<small id="hse-help" class="ml-3 mr-3 form-text text-muted">Orders once placed can only be cancelled before they are confirmed by our staff.</small>
				</div>
			<%}%>
		<%}else{%>
			<div class="cart-summary text-center mb-3">
					<i class="fas fa-book-open"></i>
					<p>Your cart is empty.</p>		
					<a href="/search"><button class="btn btn-block mt-">Continue Shopping</button></a>
			</div>
		<%}%>
		</div>
	</div>
	<!-- FOOTER-->	
	<%- include('partials/footer',{titles:relatedTitles});%>
</body>
</html>




