<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Cart | Cheap Book Rental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/styles/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<body>
	
	<!-- PARTIAL -->
	<%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
	<!-- PARTIAL -->
	<%Array.prototype.sum = function (prop) {%>
		<%let total = 0%>
		<%for ( let i = 0, _len = this.length; i < _len; i++ ) {%>
			<%total += this[i][prop]%>
			<%}%>
			<%return total%>
			<%}%>
			<div class="text-center">
		<div class="cart-head text-center">
		<h4>My Shopping Cart</h4>
		</div>
		<%if(books.length > 0){%>
			<%if(books.length > 3){%>
			<div class="cart-summary text-center mb-3">
					<h6 class="text-left">Total ( <%=books.length%> items )</h6>
					<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
					<button class="btn btn-block mt-2">Procced To Checkout</button>
			</div>
			<%}%>
			<%books.forEach(function(book){%>
				<div class="alert alert-danger text-center" role="alert">
					item removed from cart
				</div>
				<div class="result-grid">
					<div class="book-card">
					<a href="/cart/<%=book._id%>"><i class="fas fa-times"></i></a>
						<a href="/book/<%=book._id%>">
							<img src="https://picsum.photos/300/500/?random"/>
							<div class="book-card-div">
								<h4><%=book.title%></h4>
								<h6><%=book.author%></h6>
								<p class="text-capitalize">
									<%book.cat.forEach(function(cat){%>
										<%=cat%> |
									<%})%>
								</p>
								<h3>Ksh.<%=book.price%></h3>
							</div>
						</a>
					</div>
				</div>
			<%})%>
			<div class="cart-summary text-center mb-3">
					<h6 class="text-left">Total ( <%=books.length%> items )</h6>
					<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
					<button class="btn btn-block mt-2">Procced To Checkout</button>
			</div>
		
		<%}else{%>
		
			<div class="cart-summary text-center mb-3">
					<p>Your cart is empty.</p>
					<a href="/search"><button class="btn btn-block mt-">Continue Shopping</button></a>
			</div>
		
		<%}%>
		</div>
	</div>
	<!-- FOOTER-->	
	<%- include('partials/footer',{titles:relatedTitles});%>
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="/assets/scripts/app.js"></script>
</body>
</html>