<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'My cart'}); %>
</head>
<body>
	
	<!-- PARTIAL -->
	<%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
	<!-- PARTIAL -->
	<%Array.prototype.sum = function (prop) {%>
		<%let total = 0%>
		<%for ( let i = 0, _len = this.length; i < _len; i++ ) {%>
			<%total += this[i][prop]%>
			<%}%>
			<%return total%>
			<%}%>
			<div class="text-center">
		<div class="cart-head text-center">
		<h4>My Shopping Cart</h4>
		</div>
		<%if(books.length > 0){%>
			<%if(books.length > 3){%>
			<div class="cart-summary text-center mb-3">
					<h6 class="text-left">Total ( <%=books.length%> items )</h6>
					<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
					<button class="btn btn-block mt-2">Procced To Checkout</button>
			</div>
			<%}%>
			<%books.forEach(function(book){%>
				<div class="alert alert-danger text-center" role="alert">
					item removed from cart
				</div>
				<div class="result-grid">
					<div class="book-card">
					<a href="/cart/<%=book._id%>"><i class="fas fa-times"></i></a>
						<a href="/book/<%=book._id%>">
							<img src="https://picsum.photos/300/500/?random"/>
							<div class="book-card-div">
								<h4><%=book.title%></h4>
								<h6><%=book.author%></h6>
								<p class="text-capitalize">
									<%book.cat.forEach(function(cat){%>
										<%=cat%> |
									<%})%>
								</p>
								<h3>Ksh.<%=book.price%></h3>
							</div>
						</a>
					</div>
				</div>
			<%})%>
			<div class="cart-summary text-center mb-3">
					<h6 class="text-left">Total ( <%=books.length%> items )</h6>
					<h6 class="text-right">Ksh. <%=books.sum("price")%></h6>
					<button class="btn btn-block mt-2">Procced To Checkout</button>
			</div>
		
		<%}else{%>
		
			<div class="cart-summary text-center mb-3">
					<p>Your cart is empty.</p>
					<a href="/search"><button class="btn btn-block mt-">Continue Shopping</button></a>
			</div>
		
		<%}%>
		</div>
	</div>
	<!-- FOOTER-->	
	<%- include('partials/footer',{titles:relatedTitles});%>
</body>
</html>