<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'Home'}); %>
</head>
<body>
	<!-- NavBar -->
	<%if(user){%>
		<%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
	  <%}else{%>
		<%- include('partials/nav',{cartCount:0,suggestions:searchSuggestions}); %>
	  <%}%>
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
		<b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
	
		<button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
			I agree
		</button>
	</div>
	<!-- END Bootstrap-Cookie-Alert -->

	<%- include('partials/loginCTA',{titles:searchSuggestions});%>
	<!-- Search BAr-->
	<div class="search-bar">
		<form method="GET" action="/search">
			<input class="search-bar-input" name="q" type="text" placeholder="Find a book"/>
			<i id='fa-search' class="fas fa-search submit-search"></i>
		</form>
	</div>
	<!-- Category Grid -->
	<div class="cat-list text-center mb-4 mt-4">
		<a href="/cat/romance">
			<span>Romance</span>
		</a>
		<a href="/cat/personal-growth">
			<span>Personal Growth</span>
		</a>
		<a href="/cat/fiction">
			<span>Fiction</span>
		</a>
		<a href="/cat/motivation">
			<span>Motivation</span>
		</a>
	</div>
	
	<%- include('partials/landingSlider',{})%>
	<div class="text-center mb-3 steps-icons">
		<span ><i class="fas fa-search"></i></span>
		<span ><i class="fas fa-cart-plus"></i></span>
		<span ><i class="fas fa-truck"></i></span>
	</div>
	<%if(user){%>
		<a href="/search"><p class="landing-desc text-center mb-2">Get Started</p></a>
	<%}else{%>
		<a href="/auth/login"><p class="landing-desc text-center mb-2">Get Started</p></a>
	<%}%>
	<!-- Category Grid -->
	<div class="container quote-grid">
		<div class="row">
		<div class="col-sm arr-titles">
				<p class="text-center mt-4 text-capitalize steps-landing">
					Latest Arrivals
				</p>
			<%- include('partials/latestTitles',{titles:latestArrivals})%>
			</div>
		  <div class="col-sm">
				<p class="text-center  mt-4 text-capitalize steps-landing">
					our collection
				</p>
				<div class="collection-count-grid text-center">
					<a href="/cat/romance">
						<div class="coll-cat">
							<span><%=romance%></span>
							<p>romance</p>
						</div>
					</a>
					<a href="/cat/fiction">
						<div class="coll-cat">
							<span><%=fiction%></span>
							<p>fiction</p>
						</div>
					</a>
					<a href="/cat/motivational">
						<div class="coll-cat">
							<span><%=motivational%></span>
							<p>motivational</p>
						</div>
					</a>
					<a href="/cat/crime">
						<div class="coll-cat">
							<span><%=crime%></span>
							<p>crime</p>
						</div>
					</a>
					<a href="/cat/religion">
						<div class="coll-cat">
							<span><%=religon%></span>
							<p>religon</p>
						</div>
					</a>
					<a href="/cat/true-story">
						<div class="coll-cat">
							<span><%=truestory%></span>
							<p>true-story</p>
						</div>
					</a>
				</div>
		  </div>
		</div>
	</div>
	<%- include('partials/landingQuoteSlider',{})%>
	<!-- FOOTER-->	
	<%- include('partials/footer',{titles:relatedTitles});%>
	<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
</body>
</html>












