<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'Home'}); %>
</head>
<body>
	<!-- NavBar -->
	<%if(user){%>
		<%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
	  <%}else{%>
		<%- include('partials/nav',{cartCount:0,suggestions:searchSuggestions}); %>
		<%}%>
	<!------>
	<!-- Calculate delivery date (6 days ahead)-->
	<%let DAYS=['Sun','Mon','Tue','Wed','Thur','Fri','Sat','Sun']%>
	<%let MONTHS=['Jan','Feb','Mar','Apr','May','Jun','July','Aug','Sept','Oct','Nov','Dec']%>
	<%function dateString(orderDate){%>
		<%let now = new Date(orderDate)%>
		<%let day = DAYS[now.getDay()]%>
		<%let date = now.getDate()%>
		<%let month = MONTHS[now.getMonth()]%>
		<%let year = now.getFullYear()%>
		<%return ''+day+', '+date+'-'+month+'-'+year;%>
	<%}%>
	<!-- Calculate delivery date (6 days ahead)-->

	<div id="tabs">
		<%if(successOrder){%>
			<div id="login-fail" class=" text-center alert alert-success" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				Your order has been placed.<br> You can view it under <strong><em>pending orders</em></strong>
			</div>
		<%}%>
    <ul class="nav nav-pills mb-3 prof-pills" id="pills-tab" role="tablist">
			<li class="nav-item">
					<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-home" aria-selected="false">Pending Orders</a>
			</li>
			<%if(!target){%>
				<li class="nav-item">
						<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-profile" aria-selected="false">Order history</a>
				</li>
				<li class="nav-item">
						<a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-profile" aria-selected="true">Update Address</a>
				</li>
			<%}else{%>
				<li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-profile" aria-selected="false">Order history</a>
				</li>
				<li class="nav-item">
						<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-profile" aria-selected="true">Update Address</a>
				</li>
			<%}%>	
			
    </ul>
		<div class="tab-content" id="pills-tabContent">
			<%if(!target){%>
				<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-profile-tab">
						<!-- update profile -->
						<form action="/profile" style="border:none;" class="login-form" method='POST'>
							<div class="form-group">
								<select name="area" id="" class="custom-select">
										<option value='cbd'>Select an Area</option>
										<%areas.forEach(function(area){%>
											<% let selected = (area == user.address[2] ) ? "selected" : ""; %>
											<option value="<%=area%>" <%=selected%> > <%=area%> </option>
										<%})%>
								</select>
							</div>
							<div class="form-group">
								<input name="estate" type="text" value="<%=user.address[0]%>" class="form-control" id="estate"placeholder="Estate or building" required>
							</div>
							<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">No.</span>
									</div>
									<input name="numb" id="numb" value="<%=user.address[1]%>" type="text" class="form-control" placeholder="Hse.No (optional)">
								</div>
							<div class="form-group">
									<input name="mobile" type="text" value="<%=user.mobile%>" class="form-control" id="mobile"placeholder="0700000001" required>
							</div>
							<button type="submit" class="button btn btn-primary auth-submit-btn btn-block">Update</button>
						</form>
				</div>
				<div class="tab-pane fade active show" id="pills-history" role="tabpanel" aria-labelledby="pills-profile-tab">
						<!-- order history -->
						<div class="result-grid">
								<%orderHistory.forEach(function(order){%>
									<div class="book-card-pending">
										<div class="order-head">
											<span><%=dateString(order.date)%></span>
											<h6>#<%=order.orderNumb%></h6><br>
										</div>
										<div class='pending-details mt-2'>
											<%order.items.forEach(function(book){%>
												<h4><%=book.title%></h4>
												<h6><%=book.author%></h6>
												<p class="text-capitalize">
													<%book.cat.forEach(function(cat){%>
														<%=cat%> |
													<%})%>
												</p>
												<h3>Ksh.<%=book.price%></h3>
												<hr>
												<%})%>
										</div>
										<div class="order-summary">
											<h3>Total: Ksh.<strong><%=order.totalAmount%></strong></h3>
											<p>Delivered :<br><strong><%=dateString(order.deliveredDate)%></strong></p>									
											<p>Delivered To:<br><strong><%=user.name%>.<br><%=order.address%></strong></p>
										</div>
									</div>
								<%})%>
								<%if(orderHistory.length==0){%>
									<div class="cart-summary text-center mb-3">
											<i class="fas fa-history"></i>
											<p>No reading history.</p>		
											<a href="/search"><button class="btn button btn-block mt-3">Shop</button></a>
									</div>
								<%}%>
						</div>
				</div>
			<%}else{%>
				<div class="tab-pane fade active show " id="pills-home" role="tabpanel" aria-labelledby="pills-profile-tab">
						<!-- update profile -->
						<form action="/profile" style="border:none;" class="login-form" method='POST'>
							<div class="form-group">
								<select name="area" id="" class="custom-select">
										<option value='cbd'>Select an Area</option>
										<%areas.forEach(function(area){%>
											<% let selected = (area == user.address[2] ) ? "selected" : ""; %>
											<option value="<%=area%>" <%=selected%> > <%=area%> </option>
										<%})%>
								</select>
							</div>
							<div class="form-group">
								<input name="estate" type="text" value="<%=user.address[0]%>" class="form-control" id="estate"placeholder="Estate or building" required>
							</div>
							<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">No.</span>
									</div>
									<input name="numb" id="numb" value="<%=user.address[1]%>" type="text" class="form-control" placeholder="Hse.No (optional)">
								</div>
							<div class="form-group">
									<input name="mobile" type="text" value="<%=user.mobile%>" class="form-control" id="mobile"placeholder="0700000001" required>
							</div>
							<button type="submit" class="button btn btn-primary auth-submit-btn btn-block">Update</button>
						</form>
				</div>
				<div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-profile-tab">
						<!-- order history -->
						<div class="result-grid">
								<%orderHistory.forEach(function(order){%>
									<div class="book-card-pending">
										<div class="order-head">
											<span><%=dateString(order.date)%></span>
											<h6>#<%=order.orderNumb%></h6><br>
										</div>
										<div class='pending-details mt-2'>
											<%order.items.forEach(function(book){%>
												<h4><%=book.title%></h4>
												<h6><%=book.author%></h6>
												<p class="text-capitalize">
													<%book.cat.forEach(function(cat){%>
														<%=cat%> |
													<%})%>
												</p>
												<h3>Ksh.<%=book.price%></h3>
												<hr>
												<%})%>
										</div>
										<div class="order-summary">
											<h3>Total: Ksh.<strong><%=order.totalAmount%></strong></h3>
											<p>Delivered :<br><strong><%=dateString(order.deliveredDate)%></strong></p>									
											<p>Delivered To:<br><strong><%=user.name%>.<br><%=order.address%></strong></p>
										</div>
									</div>
								<%})%>
								<%if(orderHistory.length==0){%>
									<div class="cart-summary text-center mb-3">
											<i class="fas fa-history"></i>
											<p>No reading history.</p>		
											<a href="/search"><button class="btn button btn-block mt-3">Shop</button></a>
									</div>
								<%}%>
						</div>
				</div>
			<%}%>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
				<!-- pending orders -->
				<div class="result-grid">
					<%pendingOrders.forEach(function(order){%>
						<div class="book-card-pending">
							<div data-toggle="modal" data-target="#ordersum<%=order.orderNumb%>" class="order-head">
								<span><%=dateString(order.date)%></span>
								<h6>#<%=order.orderNumb%></h6><br>
								
										<%if(order.status === 0){%>
											<button class="btn btn-secondary float-right">
												awaiting confirmation
												<i class="fas fa-hourglass-half order-status-icon"></i>
											</button>
										<%}else if(order.status === 1 || order.status === 2){%>
											<button class="btn btn-success float-right">
												confirmed
												<i class="fas fa-clipboard-check order-status-icon"></i>
											</button>
										<%}else if(order.status === 10){%>
											<button class="btn button btn-warning float-right">
												out for delivery
												<i class="fas fa-truck order-status-icon"></i>
											</button>
										<%}%>
								</button>
									
							</div>
							<%-include('partials/orderSummary',{order:order,dateString:dateString})%>
						</div>
					<%})%>
					<%if(pendingOrders.length==0){%>
						<div class="cart-summary text-center mb-3">
								<i class="fas fa-hourglass-start"></i>
								<p>No pending orders.</p>		
								<a href="/search"><button class="button btn btn-block mt-">Shop</button></a>
						</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>
    <!-- FOOTER-->	
	<%- include('partials/footer',{titles:searchSuggestions,user:user});%>
</body>
</html>












