<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header',{pageTitle:'Search'}); %>
</head>
<style>
body{
  background: rgba(0,0,0,0.05);
}
</style>
<body>

  <!-- NavBar -->
  <%if(user){%>
    <%- include('partials/nav',{cartCount:user.cart.length,suggestions:searchSuggestions}); %>
  <%}else{%>
    <%- include('partials/nav',{cartCount:0,suggestions:searchSuggestions}); %>
  <%}%>
	

  <!-- Search Bar-->
	<div class="text-center mt-3">
      <form class="text-center" method="GET" action="/search">
        <input class="search-bar-input" name="q" type="text" placeholder="Find a book"/>
      </form>
    </div>
  

  <div class="result-grid">
    <div class="cat-list text-center mb-4 mt-4">
      <a href="/cat/fiction">
      <span>Fiction</span>
      </a>
      <a href="/cat/true-story">
      <span>True-Story</span>
      </a>
      <a href="/cat/mystery">
      <span>Mystery</span>
      </a>
      <a href="/cat/motivation">
      <span>Motivation</span>
      </a>
    </div>
  
    <div class="filter-dropdown input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02">
            <% let options=["sort","price (lowest)","price (highest)","condition"] %>
            <% options.forEach(function(option,i){ %>
              <% let selected = (filter == option ) ? "selected" : ""; %>
              <option value="<%=option%>" <%=selected%> ><%=option%> </option>
            <% }) %>
        </select>
    </div>
  
    <p class="result-count text-center"><%=books.length%> results</p>
    <%books.forEach(function(book,i){%>
      <div class="book-card">
          <a href="/book/<%=book._id%>">
            <%if(book.gallery){%>
              <img src="/public/bookcovers/<%=book.gallery[0]%>" alt="">
            <%}%>
            <div class='book-card-div'>
              <h4><%=book.title%></h4>
              <h6><%=book.author%></h6>
              <div class="rating" data-rate-value="<%=book.condition%>"></div>
              <p class="text-capitalize">
                <%book.cat.forEach(function(cat,i){%>
                  <%if(i < 2){%>
                    <%=cat%> |
                  <%}%>
                 
                <%})%>
              </p>
              <h3>Ksh.<%=book.price%></h3>
            </div>
          </a>
        </div>
    <%})%>
    <%if(books.length == 0){%>
      <div class="book-card-loading">
        <img src="https://placeholdit.imgix.net/~text?txtsize=14&bg=d0d0d0&txt=&w=450&h=450"/>
        <div>
          <h4>The Outlander</h4>
          <h6>Phillip Comman</h6>
          <p>Action | Drama | True-Story</p>
          <h3>Ksh.755</h3>
        </div>
    </div>
    <%}%>
    <a href="#">
      <div class="load-more text-center d-none">
        Load More
      </div>
    </a>
  </div>
  <!-- FOOTER-->	
  <%- include('partials/footer',{titles:relatedTitles,user:user});%>
</body>
</html>