<!DOCTYPE html>
<html>
<head>
		<%-include('../partials/adminHead',{pageTitle:'Order Summary'})%>
</head>
<body>

	<%-include('../partials/adminNav')%>
	<div class="order-container">
		<div class="ordernumb">
			<div>
                    <%if(order.status === 2){%>
					<a href="/deliveries/order/<%=order._id%>/start">
						<button class='float-right btn mb-2 button'>
							START
						</button>
                    </a>
                    <%}%>
				<h4>Order Number: <strong>#<%=order.orderNumb%></strong></h4>
				<h4>Date: <strong><%=order.date%></strong> </h4>
				<h4>Age: <strong><%=Math.floor((new Date() - order.date)/60000/1440)%> Day(s)</strong> </h4>
				<h4>Address: <strong><%=order.address%></strong> </h4>
				<%if(order.status === 2){%>
					<h4>Status: <strong class="text-capitalize">Pending</strong> </h4>
				<%}else if(order.status === 10){%>
                    <h4>Status: <strong class="text-capitalize">In-Progress</strong> </h4>
				<%}else{%>
                    <h4>Status: <strong class="text-capitalize">Completed</strong> </h4>
                <%}%>
			</div>
			<div>
			</div>
		</div>
		<div class='pending-details mt-4'>
			<%order.items.forEach(function(book){%>
				<h5 class="text-capitalize"><%=book.title%></h5>
				<h6 class="text-capitalize"><%=book.author%></h6>
				<p>Ksh.<%=book.price%></p>
				<hr>
			<%})%>
			<div class="cart-summary text-center mb-3">
				<%if(order.coupon){%>
					<h6 class="text-left">Discount ( <%=order.coupon.name%>)</h6>
					<h6 style="color:tomato" class="text-right"><strong><%=(order.coupon.value*100)%>%</strong></h6>	
				<%}%>
				<h6 class="text-left">Total ( <%=order.items.length%> items )</h6>
				<h6 class="text-right">Ksh. <%=order.totalAmount%></h6>
            </div>
            <%if(order.status === 10){%>
                <form method="POST" action="/deliveries/order/<%=order._id%>/complete" class=" text-center">
                    <div class="form-group">
                        <input type="text" name="coupon" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MPESA CODE">
                    </div>
                    <button type="submit" class="btn btn-block btn-success">Complete Order</button>
                </form>
                <%}%>
		</div>
	</div>

	<%-include('../partials/adminFooter',{user:user})%>
</body>
</html>

